/*MAIN CSS*/

/*for testing*/
* {
  /*border: 1px dotted green;*/
}

/*app styles*/
.app-container {
  /*margin-bottom: 250px;*/
}
.header-container {
  margin: 60px 0 40px 0;
}
.app-header-title {
  font-size: 3.8em;
}

/*api section styles*/
.api-header {
  color: #999999;
  font-size: 15px;
  margin: 0;
}
.api-header:hover, .api-header-active {
  color: #222222;
  text-decoration: underline;
}
.api-body {
  margin: 20px 0;
}
.api-form {
  /*padding-left: 0;*/
}
.api-response-output-lg {
  margin-top: 20px;
  height: 360px;
}
.api-response-output-sm {
  margin-top: 20px;
  height: 160px;
}

/*footer styles*/
.footer-container {
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  height: 40px;
}
.footer-text {
  margin-top: 10px;
}

/*utility styles*/
.pointer {
  cursor: pointer;
}

/*json code pretty*/
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: #800000; }
.number { color: #0086b3; }
.boolean { color: blue; }
.null { color: #008; }
.key { color: #008; }
